* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


.name {
	height: 80px;
	width: 200px;
	line-height: 80px;
	text-align: center;
	background-color: #4aaaa5;
	color: #ffffff;
	left: 0;
	bottom: 0;
	margin-left: 15%;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.top {
	position: relative;
	height: 90px;
	width: 100%;
}

.within-links{
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 15%
}

.about {
	background-color: #dddddd;
	position: relative;
	width: 960px;

}

h2, h3 {
	color: #4aaaa5;
}

.connect {
	position: absolute;
	top: 0;
	right: 0;
}

footer {
	background-color: #666666;
}

.main {
	width: 650px;
}